.btn btn-success {
    margin-top: 20px;

}

h1 {
    color: blue;
}

.form-label {
    color: blueviolet;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.checkbox {
    color: blueviolet;
}


   